{% extends 'base.html' %}
{% block content %}
{% load static %}
<h1>inventory page</h1>

<div class="container-flex" id="backback">
    <h2>backpack</h2>
    {% for item in items %}
    <div class="data-model" id="{{ item.id }}">
        <p>{{ item.name }}</p>
        <p>{{item.attack}}/{{item.defense}}</p>
        <!-- <img src="{% static 'stick.png' %}" alt="{{item.name}}" class="image-fluid"> -->
        <button type="button" class="btnMove btn-primary">equip</button>
    </div>
    {% endfor %}

    </ul>
</div>

<div class="container-flex" id="equipped_area">
    <h3>equipped items</h3>
</div>
<button class="btn btn-primary" onclick="fight_page()" id="fight_button">fight</button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'functionality.js' %}"></script>
{% endblock %}